// trungtt
.column-left {
    float: left;
    width: 50%;
}
.column-right {
    float: left;
    width: 50%;
}
body {
    font-family: @font-family__roboto;
    font-weight: 400;
    font-size: 13px;
}

/*button*/
.row {
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
}

.title {
    font-size: 30px;
    line-height: 22px;
    color: @color-gray_light;
    font-weight: 300;
    font-family: "Helvetica";
}

input[type="number"] {
    width: 40px;
    height: 40px;
}

button {
    .lib-button(@_button-font-family:@font-family__roboto,
                @_button-font-weight:700,
                @_button-background:@color-22b725,
                @_button-background-hover:@color-22b725,
                @_button-background-active: @color-22b725,
                @_button-color:@color-white,
                @_button-color-hover:@color-white,
                @_button-border:none,
                @_button-border-hover:none);
    .lib-css(text-align,center);
    &:active,
    &:focus {
        box-shadow: inset 0 2px 1px rgba(0,0,0,.12);
    }
    &.action.tocart.primary {
        .lib-button(@_button-background:@color-white,
                @_button-background-hover:@color-3b3b3e,
                @_button-background-active: @color-white,
                @_button-color:@color-3b3b3e,
                @_button-color-hover:@color-white,
                @_button-border:2px solid @color-3b3b3e,
                @_button-border-hover:2px solid @color-3b3b3e);
    }
    &.btn-standard-black {
        .lib-button(@_button-background:@color-3b3b3e,
                @_button-background-hover:@color-white,
                @_button-background-active: @color-white,
                @_button-color:@color-white,
                @_button-color-hover:@color-3b3b3e,
                @_button-border:none,
                @_button-border-hover:none);
    }
    &.btn-adjust {
        .lib-button(@_button-background:@color-white,
                @_button-color:@color-a9a9a9,
                @_button-border:1px solid #e4e4e4);
    }
}



select,input[type='text'] {
    .lib-css(font-family, @font-family__roboto);
    .lib-css(font-weight,400);
    .lib-css(background-color, @color-white);
    .lib-css(border, 1px solid @color-ddd);
    .lib-css(font-size,13px);
    .lib-css(color,@color-gray20);
    &.mage-error {
        .lib-css(border, 1px solid @color-ee1414);
    }
}

.mage-error {
    .lib-css(color,@color-ee1414);
}

//navigation tab
.navigation-tab,
.data.items {
    .lib-data-tabs(@_tab-control-font-family: @font-family__roboto,
        @_tab-control-font-size: 13px,
        @_tab-control-font-weight: 700,
        @_tab-control-background-color: @color-f9f9f9,
        @_tab-control-color: @color-a9a9a9,
        @_tab-control-color-active: @color-2d2d2d,
    );
    &.data.item {
        .lib-css(display,flex);
        .lib-css(justify-content,center);
        .lib-css(align-items,center);
    }
    &.navigation-tab>.item.content,
    &.data.items>.item.content {
        .lib-css(border, 1px solid );
    }
}

//trungtt